title URL 옵션 변경
br 
form(method="post", action="/urloptionchange")
  input(type="radio", name="url_filter", value="short" checked=urloption=="short")
  input(type="radio", name="url_filter", value="long" checked=urloption=="long")
  input(type="submit")
